
body {
    background-image: url('fundo.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #000000;
  }
  
  #p1 {
    color: rgb(200, 37, 37);
    font-size: 18px;
  }
  
  #p2 {
    color: rgb(196, 120, 34);
    font-style: italic;
  }
  
  #p3 {
    color: rgb(213, 213, 34);
    font-weight: bold;
  }
  
  #p4 {
    color: rgb(107, 198, 37);
    text-decoration: underline;
  }
  
  #p5 {
    color: rgb(37, 184, 200);
    padding: 10px;
  }
  
  #p6 {
    color: rgb(45, 40, 190);
    text-shadow: 2px 2px 5px rgb(146, 29, 193);
    font-size: 20px;
  }